<!DOCTYPE html>
<html lang="en">
  <head>
    <title>3rd book</title>

  </head>
  <body>  
    <h1><%=books[0].name%></h1>
    <div id="main">
      <h2><b>Author:</b><%=books[0].author%></h2>
      <h3><a href="<%=books[0].link%>" >Click here to Get the book from Amazon</a></h3>
    </div>
  </body>
</html>