  <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>main page</title>
  
    </head>
    <body>
        <h1>Select the desired book</h1>
        <div id="main form ">
          <h2 id="1st-book"><a href="http://localhost:3000/books/1" ><%=books[0].name %></a></h2>
          <h2 id="2nd-book"><a href="http://localhost:3000/books/2" ><%=books[1].name %></a></h2>
          <h2 id="3rd-book"><a href="http://localhost:3000/books/3" ><%=books[2].name %></a></h2>
      </body>
    </body>
  </html>